{% include "../global/global.html" %}

<input type='hidden' id='hiddenInput_gatheringdata' value='{"gid":"1","gname":"가볍게 맥주한잔","expired":false}'/>

{% if 1 == 0 %} <!-- If gathering time is over -->
<div id="chat-room-alert">
	<div class="chat-room-alert-message">
		<span>지나간 게더링입니다. 후기를 남겨주세요.</span>
	</div>
	<div class="chat-room-alert-button">
		<span>후기 (3)</span>
	</div>
</div>
{% endif %}

<div class="chat-room row" id="chat-room">
	<div class="chat-item">
		<div class="avatar" style="background-image:url('http://hellowoot.co.kr/static/asset/images/profile_images/5-2.png');background-color:#fc5c65;">
		</div>
		<div class="message">
			<div class="message-info">
				<span class="username">바비</span>
				<span class="time">11:10 PM</span>
			</div>
			<div class="message-cloud">
				<p>
					<span>시원하게 맥주 한잔 마십시다ㅎㅎ 몇시에 보는거죠 저희?</span>
				</p>
			</div>
		</div>
	</div>
	<div class="chat-item">
		<div class="chat-notification">
			<span>2018년 5월 24일 목요일</span>
		</div>
	</div>
	<div class="chat-item">
		<div class="chat-notification">
			<span>멍구님이 참여하셨습니다.</span>
		</div>
	</div>
	<div class="chat-item">
		<div class="avatar" style="background-image:url('http://hellowoot.co.kr/static/asset/images/profile_images/3-1.png');background-color:#26de81;">
		</div>
		<div class="message">
			<div class="message-info">
				<span class="username">멍구</span>
				<span class="time">6:11 PM</span>
			</div>
			<div class="message-cloud">
				<p>
					<span>안녕하세요!</span>
				</p>
			</div>
			<div class="message-cloud">
				<p>
					<span>다들 반가워요. 이번에 처음 나가보는거에요.</span>
				</p>
			</div>
		</div>
	</div>
	<div class="chat-item">
		<div class="avatar" style="background-image:url('http://hellowoot.co.kr/static/asset/images/profile_images/11-3.png');background-color:#26de81;">
		</div>
		<div class="message">
			<div class="message-info">
				<span class="username">칙칙</span>
				<span class="time">6:12 PM</span>
			</div>
			<div class="message-cloud">
				<p>
					<span>네 안녕하세요 언제 만날까요?</span>
				</p>
			</div>
		</div>
	</div>
	<div class="chat-item">
		<div class="chat-notification">
			<span>쇽쇽님이 참여하셨습니다.</span>
		</div>
	</div>
	<div class="chat-item">
		<div class="avatar" style="background-image:url('http://hellowoot.co.kr/static/asset/images/profile_images/13-1.png');background-color:#fed330;">
		</div>
		<div class="message">
			<div class="message-info">
				<span class="username">송파오벨</span>
				<span class="time">6:13 PM</span>
			</div>
			<div class="message-cloud">
				<p>
					<span>저번주 토요일 백숙 게더링 갔다왔는데 첨으로 서울 외곽으로 나가서 좋은 공기 맞으며 몸보신 제대로 뿜뿜!했습니다~</span>
				</p>
			</div>
		</div>
	</div>
	<div class="chat-item chat-item-my">
		<div class="avatar" style="background-image:url('http://hellowoot.co.kr/static/asset/images/profile_images/4-2.png');background-color:#fc5c65;">
		</div>
		<div class="message">
			<div class="message-info">
				<span class="time">6:13 PM</span>
				<span class="username">두둥</span>
			</div>
			<div class="message-cloud">
				<p>
					<span>저희도 같이 가봐요! :)</span>
				</p>
			</div>
			<div class="message-cloud">
				<p>
					<span>재미있을거 같아요 ㅎㅎ 이번주 토요일 ㄱㄱ?</span>
				</p>
			</div>
		</div>
	</div>
</div>