{% if 1 == 1 %}
<!-- 인피닛 스크롤로 표시할 채팅이 더이상 없으면 랜더링 하지 않고 response를 false로 보내줘야 한다 -->

	<div class="chat-item">
		<div class="avatar">
		</div>
		<div class="message">
			<div class="message-info">
				<span class="username">바비</span>
				<span class="time">11:10 PM</span>
			</div>
			<div class="message-cloud">
				<p>
					<span>시원하게 맥주 한잔 마십시다ㅎㅎ 몇시에 보는거죠 저희?</span>
				</p>
			</div>
		</div>
	</div>
	<div class="chat-item">
		<div class="chat-notification">
			<span>2018년 5월 24일 목요일</span>
		</div>
	</div>
	<div class="chat-item">
		<div class="chat-notification">
			<span>멍구님이 참여하셨습니다.</span>
		</div>
	</div>
	<div class="chat-item">
		<div class="avatar">
		</div>
		<div class="message">
			<div class="message-info">
				<span class="username">멍구</span>
				<span class="time">6:11 PM</span>
			</div>
			<div class="message-cloud">
				<p>
					<span>안녕하세요!</span>
				</p>
			</div>
			<div class="message-cloud">
				<p>
					<span>다들 반가워요. 이번에 처음 나가보는거에요.</span>
				</p>
			</div>
		</div>
	</div>
	<div class="chat-item">
		<div class="avatar">
		</div>
		<div class="message">
			<div class="message-info">
				<span class="username">칙칙</span>
				<span class="time">6:12 PM</span>
			</div>
			<div class="message-cloud">
				<p>
					<span>네 안녕하세요 언제 만날까요?</span>
				</p>
			</div>
		</div>
	</div>
	<div class="chat-item">
		<div class="chat-notification">
			<span>쇽쇽님이 참여하셨습니다.</span>
		</div>
	</div>
	<div class="chat-item">
		<div class="avatar">
		</div>
		<div class="message">
			<div class="message-info">
				<span class="username">송파오벨</span>
				<span class="time">6:13 PM</span>
			</div>
			<div class="message-cloud">
				<p>
					<span>저번주 토요일 백숙 게더링 갔다왔는데 첨으로 서울 외곽으로 나가서 좋은 공기 맞으며 몸보신 제대로 뿜뿜!했습니다~</span>
				</p>
			</div>
		</div>
	</div>
	<div class="chat-item chat-item-my">
		<div class="avatar">
		</div>
		<div class="message">
			<div class="message-info">
				<span class="time">6:13 PM</span>
				<span class="username">두둥</span>
			</div>
			<div class="message-cloud">
				<p>
					<span>저희도 같이 가봐요! :)</span>
				</p>
			</div>
			<div class="message-cloud">
				<p>
					<span>재미있을거 같아요 ㅎㅎ 이번주 토요일 ㄱㄱ?</span>
				</p>
			</div>
		</div>
	</div>

{% endif %}