{% include "../global/global.html" %}


<input type='hidden' id='hiddenInput_gatheringdata' value='{"gid":"1","gname":"가볍게 맥주한잔","expired":false}'/>

{% if 1 == 1 %} <!-- if gathering is open -->
<div class="gathering-detail row">
	<div class="gathering-detail-sticker" style="background-image:url('https://i.pinimg.com/564x/11/d3/db/11d3dbc8d9c796332f643fca8886ad55.jpg')">
	</div>
	<div class="gathering-detail-contents col-lg-24 col-md-24 col-sm-24 col-xs-24">
		<div class="description">
			<div class="title">
				<span>가볍게 맥주한잔</span>
			</div>
			<div class="date">
				<i class="ion-calendar"></i>
				<span>8월 16일 오후 6:00</span>
			</div>
			<div class="place">
				<i class="ion-ios-location"></i>
				<span>파크하비오 레지던스</span>
			</div>
			<div class="stats">
				<woot-click href="/gathering/like?gid=1" class="button">
					<span>칙칙님 외</span> <span class="count" id="gathering-stats-like">14</span> <span>명이 좋아합니다.</span>
				</woot-click>
				<woot-click href="/gathering/participants?gid=1" class="button">
					<span>멍구님 외</span> <span class="count" id="gathering-stats-participate">3</span> <span>명이 참여합니다.</span>
				</woot-click>
			</div>
		</div>
		<div class="gathering-footer">
			<div class="button button-like selected" id="gathering-like-button">
				<i class="ion-ios-heart"></i>
			</div>
			<div class="button button-participate" id="gathering-participate-button">
				<span>참여하기</span>
			</div>
		</div>
		<div class="gathering-detail-tab-wrapper row">
			<div class="gathering-detail-tab button selected col-lg-8 col-md-8 col-sm-8 col-xs-8" data-tab="information">
				<span class="title">게더링 정보</span>
			</div>
			<div class="gathering-detail-tab button col-lg-8 col-md-8 col-sm-8 col-xs-8" data-tab="review">
				<span class="title">게더링 후기</span>
			</div>
			<div class="gathering-detail-tab button col-lg-8 col-md-8 col-sm-8 col-xs-8" data-tab="comment">
				<span class="title">참여자 댓글</span>
			</div>
		</div>
		<div class="details" id="gathering-details-view">
			<p>
				출출해 질 오후, 석촌 오모가리 김치찌개를 먹고 한강으로 이동, 해 질녁부터 한강에서 맥주 마시면서 보드게임해요! 늦잠 푹~ 주무시구 오후에 느즈막이 만화방가서 서로 수다떨고 만화책읽어요! 
				<br><br>(그냥 읽고 싶은 책 가지고 오셔두 됩니다) 3시쯤 시작해서 떠들고 머리쓰다 보면 금방 배가 고파질테니 저녁 식사 같이하러 가요~ 메뉴는 오시는 분들과 함께 정해봐요 :) 
				<br><br>처음 오시는 분들 걱정하지 마시구 어서오세요~ 30분만 같이 있으면 그 걱정 한번에 날려드릴게요ㅎㅎ
			</p>
		</div>
	</div>
</div>
{% else %} <!-- if gathering is closed -->
<div class="gathering-detail row">
	<div class="gathering-detail-sticker" style="background-image:url('https://i.pinimg.com/564x/11/d3/db/11d3dbc8d9c796332f643fca8886ad55.jpg')">
	</div>
	<div class="gathering-detail-contents col-lg-24 col-md-24 col-sm-24 col-xs-24">
		<div class="description">
			<div class="title">
				<span>가볍게 맥주한잔</span>
			</div>
			<div class="date">
				<i class="ion-calendar"></i>
				<span>8월 16일 오후 6:00</span>
			</div>
			<div class="place">
				<i class="ion-ios-location"></i>
				<span>파크하비오 레지던스</span>
			</div>
			<div class="stats">
				<span>칙칙님 외</span> <span class="count" id="gathering-stats-like">14</span> <span>명이 좋아합니다.</span>
				<span>멍구님 외</span> <span class="count" id="gathering-stats-participate">3</span> <span>명이 참여합니다.</span>
			</div>
		</div>
		<div class="gathering-footer">
			<div class="button button-one">
				<span>지나간 게더링 (채팅보기)</span>
			</div>
		</div>
		<div class="gathering-detail-tab-wrapper row">
			<div class="gathering-detail-tab button selected col-lg-8 col-md-8 col-sm-8 col-xs-8" data-tab="information">
				<span class="title">게더링 정보</span>
			</div>
			<div class="gathering-detail-tab button col-lg-8 col-md-8 col-sm-8 col-xs-8" data-tab="review">
				<span class="title">게더링 후기</span>
			</div>
			<div class="gathering-detail-tab button col-lg-8 col-md-8 col-sm-8 col-xs-8" data-tab="comment">
				<span class="title">참여자 댓글</span>
			</div>
		</div>
		<div class="details" id="gathering-details-view">
			<p>
				출출해 질 오후, 석촌 오모가리 김치찌개를 먹고 한강으로 이동, 해 질녁부터 한강에서 맥주 마시면서 보드게임해요! 늦잠 푹~ 주무시구 오후에 느즈막이 만화방가서 서로 수다떨고 만화책읽어요! 
				<br><br>(그냥 읽고 싶은 책 가지고 오셔두 됩니다) 3시쯤 시작해서 떠들고 머리쓰다 보면 금방 배가 고파질테니 저녁 식사 같이하러 가요~ 메뉴는 오시는 분들과 함께 정해봐요 :) 
				<br><br>처음 오시는 분들 걱정하지 마시구 어서오세요~ 30분만 같이 있으면 그 걱정 한번에 날려드릴게요ㅎㅎ
			</p>
		</div>
	</div>
</div>
{% endif %}