{% include "../global/global.html" %}

<div class="gathering-banner">
	<span>오늘 10명의 이웃이 게더링에 관심을 갖고 있습니다.</span>
</div>
<div class="gathering-discover-contents row">
	<div class="gathering-discover-current col-lg-24 col-md-24 col-sm-24 col-xs-24">
		<div class="gathering-item">
			<woot-click href="/gathering/detail?gid=1">
				<div class="sticker" style="background-image:url('http://ec2-18-224-96-147.us-east-2.compute.amazonaws.com:8000/site_media/static/sticker9.jpg')">
				</div>
			</woot-click>
			<woot-click href="/gathering/detail?gid=1">
				<div class="description">
					<div class="title">
						<span>가볍게 맥주</span>
						<span class="status active">30분 전 대화</span>
					</div>
					<div class="date">
						<span>8월 13일 토요일 오후 7:00</span>
					</div>
					<div class="place">
						<span>송파오벨 앞</span>
					</div>
				</div>
			</woot-click>
		</div>
		<div class="gathering-item">
			<woot-click href="/gathering/detail?gid=1">
				<div class="sticker" style="background-image:url('http://ec2-18-224-96-147.us-east-2.compute.amazonaws.com:8000/site_media/static/sticker10.jpg')">
					<span class="woot-gathering-mark">우트 공개</span>
				</div>
			</woot-click>
			<woot-click href="/gathering/detail?gid=1">
				<div class="description">
					<div class="title">
						<span>피맥피맥</span>
						<span class="status active">방금 전 대화</span>
					</div>
					<div class="date">
						<span>8월 14일 일요일 오후 6:00</span>
					</div>
					<div class="place">
						<span>송파 하남돼지집</span>
					</div>
				</div>
			</woot-click>
			<!--
			<div class="gathering-footer">
				<div class="button button-half button-like liked">
					<i class="ion-ios-heart"></i>
					<span>좋아요</span>
				</div>
				<div class="button button-half button-participate selected">
					<i class="ion-checkmark-round"></i>
					<span>참여하기</span>
				</div>
			</div>
			-->
		</div>
		<div class="gathering-item">
			<woot-click href="/gathering/detail?gid=1">
				<div class="sticker" style="background-image:url('./images/test_cover_4.jpg')">
				</div>
			</woot-click>
			<woot-click href="/gathering/detail?gid=1">
				<div class="description">
					<div class="title">
						<span>따릉이 산책</span>
					</div>
					<div class="date">
						<span>8월 16일 화요일 오후 8:00</span>
					</div>
					<div class="place">
						<span>잠실역</span>
					</div>
				</div>
			</woot-click>
		</div>
		<div class="gathering-item">
			<woot-click href="/gathering/detail?gid=1">
				<div class="sticker" style="background-image:url('./images/test_cover_6.jpg')">
				</div>
			</woot-click>
			<woot-click href="/gathering/detail?gid=1">
				<div class="description">
					<div class="title">
						<span>힐링 호캉스</span>
					</div>
					<div class="date">
						<span>8월 16일 화요일 오후 6:00</span>
					</div>
					<div class="place">
						<span>파크하비오 레지던스</span>
					</div>
				</div>
			</woot-click>
		</div>
		<div class="gathering-item">
			<woot-click href="/gathering/detail?gid=1">
				<div class="sticker" style="background-image:url('./images/test_cover_2.jpg')">
				</div>
			</woot-click>
			<woot-click href="/gathering/detail?gid=1">
				<div class="description">
					<div class="title">
						<span>심야톡</span>
					</div>
					<div class="date">
						<span>8월 17일 수요일 오전 0:00</span>
					</div>
					<div class="place">
						<span>우트</span>
					</div>
				</div>
			</woot-click>
		</div>
	</div>
	<div class="gathering-discover-past col-lg-24 col-md-24 col-sm-24 col-xs-24">
		<div class="gathering-item">
			<woot-click href="/gathering/detail?gid=1">
				<div class="sticker" style="background-image:url('./images/test_cover_1.jpg')"></div>
			</woot-click>
			<woot-click href="/gathering/detail?gid=1">
				<div class="description">
					<div class="title">
						<span>힐링 호캉스</span>
						<span class="status">지난 게더링</span>
					</div>
					<div class="date">
						<span>8월 16일 오후 6:00</span>
					</div>
					<div class="place">
						<span>파크하비오 레지던스</span>
					</div>
				</div>
			</woot-click>
			<div class="gathering-footer">
				<div class="button button-one">
					<span>후기보기 (3)</span>
				</div>
			</div>
		</div>
		<div class="gathering-item">
			<woot-click href="/gathering/detail?gid=1">
				<div class="sticker" style="background-image:url('./images/test_cover_3.jpg')"></div>
			</woot-click>
			<woot-click href="/gathering/detail?gid=1">
				<div class="description">
					<div class="title">
						<span>심야톡</span>
						<span class="status">지난 게더링</span>
					</div>
					<div class="date">
						<span>8월 17일 오전 0:00</span>
					</div>
					<div class="place">
						<span>우트</span>
					</div>
				</div>
			</woot-click>
			<div class="gathering-footer">
				<div class="button button-one">
					<span>후기보기 (1)</span>
				</div>
			</div>
		</div>
	</div>
</div>