{% include "../global/global.html" %}

<div class="people-contents like-people-contents row">
	<div class="people-section col-lg-24 col-md-24 col-sm-24 col-xs-24">
		<div class="title">
			<span>좋아요</span>
		</div>
		<woot-click href="/people/profile?uid=1">
		<div class="people-item button col-lg-24 col-md-24 col-sm-24 col-xs-24">
			<div class="avatar"></div>
			<div class="description">
				<div class="username">
					<span>멍구</span>
				</div>
			</div>
		</div>
		</a>
		<woot-click href="/people/profile?uid=1">
		<div class="people-item button col-lg-24 col-md-24 col-sm-24 col-xs-24">
			<div class="avatar"></div>
			<div class="description">
				<div class="username">
					<span>칙칙</span>
				</div>
			</div>
		</div>
		</a>
		<woot-click href="/people/profile?uid=1">
		<div class="people-item button col-lg-24 col-md-24 col-sm-24 col-xs-24">
			<div class="avatar"></div>
			<div class="description">
				<div class="username">
					<span>냥냥ㅎ</span>
				</div>
			</div>
		</div>
		</a>
	</div>
	<div class="people-section col-lg-24 col-md-24 col-sm-24 col-xs-24">
		<div class="title">
			<span>참여함</span>
		</div>
		<woot-click href="/people/profile?uid=1">
		<div class="people-item button col-lg-24 col-md-24 col-sm-24 col-xs-24">
			<div class="avatar"></div>
			<div class="description">
				<div class="username">
					<span>멍구</span>
				</div>
			</div>
		</div>
		</a>
		<woot-click href="/people/profile?uid=1">
		<div class="people-item button col-lg-24 col-md-24 col-sm-24 col-xs-24">
			<div class="avatar"></div>
			<div class="description">
				<div class="username">
					<span>칙칙</span>
				</div>
			</div>
		</div>
		</a>
		<woot-click href="/people/profile?uid=1">
		<div class="people-item button col-lg-24 col-md-24 col-sm-24 col-xs-24">
			<div class="avatar"></div>
			<div class="description">
				<div class="username">
					<span>냥냥ㅎ</span>
				</div>
			</div>
		</div>
		</a>
	</div>
</div>