{% include "../global/global.html" %}

<input type='hidden' id='hiddenInput_gatheringdata' value='{"gid":"1","gname":"가볍게 맥주한잔","expired":true}'/>

<div class="gathering-review-contents row">
	<div class="posting-wrapper col-lg-24 col-md-24 col-sm-24 col-xs-24" id="posting-wrapper">
		<div class="posting-item">
			<div class="posting-button button">
				<span>후기 작성하기</span>
			</div>
		</div>
		<div class="posting-item" id="posting-item-1">
			<div class="posting-header">
				<div class="avatar">
				</div>
				<div class="username">
					<span>비니</span>
				</div>
			</div>
			<div class="posting-content">
				<div class="description">
					<p>우트에서 맞이한 생일에 웃님들에게 너무많은 감동을 받았습니다 뒤늦게나마 모두에게 정말로 감사한 마음을 전달합니다 정말 가족보다 이웃이라는 생각이 들 정도로 따뜻한 마음에 찐한 감동이 넘쳤습니다. 정말 얼마 친해지지않았지만 나이를 불문하고 동네친구분들이 있어 행복합니다 앞으로도 이러한 인연을 쭈욱 이어나갔으면 좋겠어요~~~ 새로운 인연과의 추억을 계속 만들어 나갑시다  우트 화이팅!!</p>
				</div>
			</div>
		</div>
		<div class="posting-item" id="posting-item-2">
			<div class="posting-header">
				<div class="avatar">
				</div>
				<div class="username">
					<span>멍구</span>
				</div>
			</div>
			<div class="posting-content">
				<div class="image" style="background-image:url('http://hellowoot.co.kr/media/user_images/8195BDA1-C06D-4323-9F8C-020919C39130.jpg')">
				</div>
				<div class="description">
					<p>한강게더링,성공적 시원한 강바람 맞으면서 치맥(데낄라) 즐겼습니당🔥 동친 좋다는게 이런거죠!?😄</p>
				</div>
			</div>
		</div>	
	</div>
</div>