<div class="pullup-agelimit">
	<div class="pullup-agelimit-input" id="pullup-agelimit-input-min-fake">
		<input placeholder="최소 나이" readonly/>
		<div class="roller" style="display:none">
			<ul>
				<li class="button" data-age="24">24</li>
				<li class="button" data-age="25">25</li>
				<li class="button" data-age="26">26</li>
				<li class="button" data-age="27">27</li>
				<li class="button" data-age="28">28</li>
				<li class="button" data-age="29">29</li>
			</ul>
		</div>
	</div>
	<div class="pullup-agelimit-divider">
		<span>~</span>
	</div>
	<div class="pullup-agelimit-input" id="pullup-agelimit-input-max-fake">
		<input placeholder="최대 나이" readonly/>
		<div class="roller" style="display:none">
			<ul>
				<li class="button" data-age="29">29</li>
				<li class="button" data-age="30">30</li>
				<li class="button" data-age="31">31</li>
				<li class="button" data-age="32">32</li>
				<li class="button" data-age="33">33</li>
			</ul>
		</div>
	</div>
	<div class="pullup-agelimit-submit button" id="pullup-agelimit-submit">
		<span>확인</span>
	</div>
</div>
