<div class="pullup-interest">
	<div class="title">
		<span>관심사를 선택해주세요</span>
	</div>
	<div class="submit-filtering button" id="submit-filtering">
		<span>필터 적용</span>
	</div>
	<div class="pullup-interest-content" style="margin-top:10px;">
		<span class="interest button" data-interest="축구">축구</span>
		<span class="interest button" data-interest="농구">농구</span>
		<span class="interest button" data-interest="낮술">낮술</span>
		<span class="interest button" data-interest="맥주">맥주</span>
		<span class="interest button" data-interest="와인">와인</span>
		<span class="interest button" data-interest="자전거">자전거</span>
		<span class="interest button" data-interest="영화">영화</span>
		<span class="interest button" data-interest="독서">독서</span>
		<span class="interest button" data-interest="맛집">맛집</span>
		<span class="interest button" data-interest="소주">소주</span>
		<span class="interest button" data-interest="운동">운동</span>
		<span class="interest button" data-interest="커피">커피</span>
	</div>
</div>