<div class="pullup-prestage">
	<div class="pullup-prestage-input" id="pullup-prestage-input-duration">
		<input readonly/>
		<div class="roller" style="display:none">
			<ul>
				<li class="button" data-duration="1">1</li>
				<li class="button" data-duration="2">2</li>
				<li class="button" data-duration="3">3</li>
				<li class="button" data-duration="4">4</li>
				<li class="button" data-duration="5">5</li>
				<li class="button" data-duration="6">6</li>
				<li class="button" data-duration="12">12</li>
				<li class="button" data-duration="24">24</li>
			</ul>
		</div>
	</div>
	<div class="pullup-prestage-divider">
		<span>시간 전 까지</span>
	</div>
	<div class="pullup-prestage-input" id="pullup-prestage-input-min-people">
		<input readonly/>
		<div class="roller" style="display:none">
			<ul>
				<li class="button" data-people="3">3</li>
				<li class="button" data-people="4">4</li>
				<li class="button" data-people="5">5</li>
			</ul>
		</div>
	</div>
	<div class="pullup-prestage-divider">
		<span>명 이상 모이면 공개</span>
	</div>
	<div class="pullup-prestage-submit-wrapper">
		<div class="pullup-prestage-submit button" id="pullup-prestage-submit">
			<span>확인</span>
		</div>
	</div>
</div>
