<div class="pullup-gathering-invitation">
	<div class="people-item">
		<div class="avatar"></div>
		<div class="description">
			<div class="username">
				<span>멍구</span>
			</div>
		</div>
		<div class="checkbox button" data-uid="1" data-username="멍구">
			<i class="ion-checkmark-round"></i>
		</div>
	</div>
	<div class="people-item">
		<div class="avatar"></div>
		<div class="description">
			<div class="username">
				<span>칙칙</span>
			</div>
		</div>
		<div class="checkbox button" data-uid="2" data-username="칙칙">
			<i class="ion-checkmark-round"></i>
		</div>
	</div>
</div>
