{% include "../global/global.html" %}

<div class="board-contents row">
	<div class="board-section col-lg-24 col-md-24 col-sm-24 col-xs-24">
		<div class="title">
			<span>파크하비오 일상</span>
		</div>
		<woot-click href="/board/posting?bid=1">
		<div class="board-item button col-lg-24 col-md-24 col-sm-24 col-xs-24">
			<div class="avatar"></div>
			<div class="description">
				<div class="username">
					<span>소소한 일상</span>
				</div>
				<div class="intro">
					<span>글 1,218개</span>
				</div>
			</div>
			<div class="noti">
				<span>New</span>
			</div>
		</div>
		</woot-click>
		<woot-click href="/board/posting?bid=2">
		<div class="board-item button col-lg-24 col-md-24 col-sm-24 col-xs-24">
			<div class="avatar"></div>
			<div class="description">
				<div class="username">
					<span>동네 잡담소</span>
				</div>
				<div class="intro">
					<span>글 201개</span>
				</div>
			</div>
		</div>
		</woot-click>
	</div>
	<div class="board-section col-lg-24 col-md-24 col-sm-24 col-xs-24">
		<div class="title">
			<span>주변 생활정보</span>
		</div>
		<woot-click href="/board/posting?bid=3">
		<div class="board-item button col-lg-24 col-md-24 col-sm-24 col-xs-24">
			<div class="avatar"></div>
			<div class="description">
				<div class="username">
					<span>쿠폰/핫딜</span>
				</div>
				<div class="intro">
					<span>글 17개</span>
				</div>
			</div>
		</div>
		</woot-click>
		<woot-click href="/board/posting?bid=4">
		<div class="board-item button col-lg-24 col-md-24 col-sm-24 col-xs-24">
			<div class="avatar"></div>
			<div class="description">
				<div class="username">
					<span>현지인 추천</span>
				</div>
				<div class="intro">
					<span>글 517개</span>
				</div>
			</div>
		</div>
		</woot-click>
		<woot-click href="/board/posting?bid=5">
		<div class="board-item button col-lg-24 col-md-24 col-sm-24 col-xs-24">
			<div class="avatar"></div>
			<div class="description">
				<div class="username">
					<span>나눔/중고장터</span>
				</div>
				<div class="intro">
					<span>글 11개</span>
				</div>
			</div>
		</div>
		</woot-click>
	</div>
</div>