	<div id="header" class="row">
		<div class="header-left overlap-close button col-lg-4 col-md-4 col-sm-4 col-xs-4">
			<i class="ion-ios-arrow-back"></i>
		</div>
		<div class="header-center block col-lg-16 col-md-16 col-sm-16 col-xs-16">
			<span>댓글</span>
		</div>
	</div>
	<div class="board-contents board-detail-contents row">
		<div class="posting-wrapper col-lg-24 col-md-24 col-sm-24 col-xs-24">
			<div class="posting-item posting-item-comment" id="posting-item-comment">
				<div class="posting-comment" id="posting-comment-1">
					<div class="avatar">
					</div>
					<div class="description">
						<span class="nickname">멍구</span>
						<span class="comment">안녕하세요. 친하게 지내요. 친구들아 Sing it</span>
					</div>
					<div class="meta">
						<span class="date">8월 11일</span>
						<span class="recomment-button button" data-cid="1">답글 달기</span>
						<span class="comment-edit-button button" data-cid="1">수정하기</span>
						<span class="comment-delete-button button" onclick="pullupMenu('comment.delete?cid=1')">삭제하기</span>
					</div>
				</div>
				<div class="posting-comment" id="posting-comment-2">
					<div class="avatar">
					</div>
					<div class="description">
						<span class="nickname">멍구</span>
						<span class="comment">안녕하세요. 친하게 지내요. 행복하자. 아프지 말고. 양화대교.</span>
					</div>
					<div class="meta">
						<span class="date">8월 11일</span>
						<span class="recomment-button button" data-cid="2">답글 달기</span>
						<span class="comment-edit-button button" data-cid="2">수정하기</span>
						<span class="comment-delete-button button" onclick="pullupMenu('comment.delete?cid=2')">삭제하기</span>
					</div>
				</div>
				<div class="posting-comment posting-recomment" id="posting-comment-21">
					<div class="avatar">
					</div>
					<div class="description">
						<span class="nickname">마미손</span>
						<span class="comment">폭염에 복면쓰고 불구덩이에 쳐박힌 내 기분을 니들이 알아?</span>
					</div>
					<div class="meta">
						<span class="date">8월 11일</span>
						<span class="comment-edit-button button" data-cid="21">수정하기</span>
						<span class="comment-delete-button button" onclick="pullupMenu('comment.delete?cid=21')">삭제하기</span>
					</div>
				</div>
				<div class="posting-comment" id="posting-comment-3">
					<div class="avatar">
					</div>
					<div class="description">
						<span class="nickname">멍구</span>
						<span class="comment">안녕하세요. 친하게 지내요. 친구들아 Sing it</span>
					</div>
					<div class="meta">
						<span class="date">8월 11일</span>
						<span class="recomment-button button" data-cid="3">답글 달기</span>
						<span class="comment-edit-button button" data-cid="3">수정하기</span>
						<span class="comment-delete-button button" onclick="pullupMenu('comment.delete?cid=3')">삭제하기</span>
					</div>
				</div>
				<div class="posting-comment" id="posting-comment-4">
					<div class="avatar">
					</div>
					<div class="description">
						<span class="nickname">멍구</span>
						<span class="comment">안녕하세요. 친하게 지내요. 친구들아 Sing it</span>
					</div>
					<div class="meta">
						<span class="date">8월 11일</span>
						<span class="recomment-button button" data-cid="4">답글 달기</span>
						<span class="comment-edit-button button" data-cid="4">수정하기</span>
						<span class="comment-delete-button button" onclick="pullupMenu('comment.delete?cid=4')">삭제하기</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="footer-input" class="row footer-special-element">
      	<div class="footer-item-wrapper col-lg-24 col-md-24 col-sm-24 col-xs-24">
        	<div class="footer-textarea-wrapper">
          		<textarea id="footer-textarea" placeholder="댓글 달기..."></textarea>
          		<div class="footer-textarea-submit button" id="footer-textarea-submit">
            		<span>등록</span>
          		</div>
        	</div>
      	</div>
    </div>