{% include "../global/global.html" %}

<div class="people-contents message-contents row">
	<div class="message-search col-lg-24 col-md-24 col-sm-24 col-xs-24">
		<input placeholder="메세지는 맞우트가 되어 있는 이웃만 가능합니다" id="message-search-input"/>
		<div class="message-search-button button">
			<i class="ion-android-search"></i>
		</div>
	</div>
	<div class="people-section col-lg-24 col-md-24 col-sm-24 col-xs-24">
		<div class="with-message-wrapper">
			<woot-click class="people-item message-people-item with-message button col-lg-24 col-md-24 col-sm-24 col-xs-24" href="/message/inbox?uid=1" data-username="쩡이">
				<div class="category">
					<span>대화중</span>
				</div>
				<div class="avatar" style="background-image:url('http://hellowoot.co.kr/static/asset/images/profile_images/13-1.png');background-color:#26de81"></div>
				<div class="description">
					<div class="username">
						<span>쩡이</span>
					</div>
					<div class="message-truncate">
						<span>안녕하세요 :) 어제 재미있었어요ㅎㅎ 다음에...</span>
					</div>
					<div class="message-highlight">
						<span>3</span>
					</div>
				</div>
			</woot-click>
			<woot-click class="people-item message-people-item with-message button col-lg-24 col-md-24 col-sm-24 col-xs-24" href="/message/inbox?uid=1" data-username="오벨리스크">
				<div class="category">
					<span>대화중</span>
				</div>
				<div class="avatar" style="background-image:url('http://hellowoot.co.kr/static/asset/images/profile_images/9-4.png');background-color:#fed330"></div>
				<div class="description">
					<div class="username">
						<span>오벨리스크</span>
					</div>
					<div class="message-truncate">
						<span>네네 좋아요!</span>
					</div>
				</div>
			</woot-click>
			<woot-click class="people-item message-people-item with-message button col-lg-24 col-md-24 col-sm-24 col-xs-24" href="/message/inbox?uid=1" data-username="비다">
				<div class="category">
					<span>대화중</span>
				</div>
				<div class="avatar" style="background-image:url('http://hellowoot.co.kr/static/asset/images/profile_images/8-2.png');background-color:#a55eea"></div>
				<div class="description">
					<div class="username">
						<span>비다</span>
					</div>
					<div class="message-truncate">
						<span>죄송한데 연락하지 말아주세요 이웃인데 너무...</span>
					</div>
				</div>
			</woot-click>
		</div>
		<div class="without-message-wrapper">
			<woot-click class="people-item message-people-item without-message button col-lg-24 col-md-24 col-sm-24 col-xs-24" href="/message/inbox?uid=1" data-username="집집돌이">
				<div class="category">
					<span>대기중</span>
				</div>
				<div class="avatar" style="background-image:url('http://hellowoot.co.kr/static/asset/images/profile_images/4-4.png');background-color:#f39c12"></div>
				<div class="description">
					<div class="username">
						<span>집집돌이</span>
					</div>
				</div>
			</woot-click>
			<woot-click class="people-item message-people-item without-message button col-lg-24 col-md-24 col-sm-24 col-xs-24" href="/message/inbox?uid=1" data-username="멍구">
				<div class="category">
					<span>대기중</span>
				</div>
				<div class="avatar" style="background-image:url('http://hellowoot.co.kr/static/asset/images/profile_images/10-4.png');background-color:#26de81"></div>
				<div class="description">
					<div class="username">
						<span>멍구</span>
					</div>
				</div>
			</woot-click>
			<woot-click class="people-item message-people-item without-message button col-lg-24 col-md-24 col-sm-24 col-xs-24" href="/message/inbox?uid=1" data-username="송이">
				<div class="category">
					<span>대기중</span>
				</div>
				<div class="avatar" style="background-image:url('http://hellowoot.co.kr/static/asset/images/profile_images/1-4.png');background-color:#9b59b6"></div>
				<div class="description">
					<div class="username">
						<span>송이</span>
					</div>
				</div>
			</woot-click>
			<woot-click class="people-item message-people-item without-message button col-lg-24 col-md-24 col-sm-24 col-xs-24" href="/message/inbox?uid=1" data-username="날쌘돌이">
				<div class="category">
					<span>대기중</span>
				</div>
				<div class="avatar" style="background-image:url('http://hellowoot.co.kr/static/asset/images/profile_images/7-4.png');background-color:#26de81"></div>
				<div class="description">
					<div class="username">
						<span>날쌘돌이</span>
					</div>
				</div>
			</woot-click>
		</div>
		<div class="people-item message-people-item-no col-lg-24 col-md-24 col-sm-24 col-xs-24" style="display:none">
			<span>해당하는 이웃이 없습니다.</span>
		</div>
	</div>
</div>