{% include "../global/global.html" %}

<input type='hidden' id='hiddenInput_currentuserdata' value='{"uid":"2","uname":"칙칙"}'/>

<div class="chat-room message-chat-room row" id="chat-room">
	<div class="chat-item">
		<div class="chat-notification">
			<span>2018년 5월 21일 월요일</span>
		</div>
	</div>
	<div class="chat-item">
		<div class="avatar" style="background-image:url('http://hellowoot.co.kr/static/asset/images/profile_images/11-3.png');background-color:#26de81;">
		</div>
		<div class="message">
			<div class="message-info">
				<span class="username">칙칙</span>
				<span class="time">6:12 PM</span>
			</div>
			<div class="message-cloud">
				<p>
					<span>시원하게 맥주 한잔 마십시다ㅎㅎ 몇시에 보는거죠 저희?</span>
				</p>
			</div>
		</div>
	</div>
	<div class="chat-item">
		<div class="chat-notification">
			<span>2018년 5월 24일 목요일</span>
		</div>
	</div>
	<div class="chat-item">
		<div class="avatar" style="background-image:url('http://hellowoot.co.kr/static/asset/images/profile_images/11-3.png');background-color:#26de81;">
		</div>
		<div class="message">
			<div class="message-info">
				<span class="username">칙칙</span>
				<span class="time">6:12 PM</span>
			</div>
			<div class="message-cloud">
				<p>
					<span>네 안녕하세요 언제 만날까요?</span>
				</p>
			</div>
		</div>
	</div>
	<div class="chat-item">
		<div class="avatar" style="background-image:url('http://hellowoot.co.kr/static/asset/images/profile_images/11-3.png');background-color:#26de81;">
		</div>
		<div class="message">
			<div class="message-info">
				<span class="username">칙칙</span>
				<span class="time">6:12 PM</span>
			</div>
			<div class="message-cloud">
				<p>
					<span>저번주 토요일 백숙 게더링 갔다왔는데 첨으로 서울 외곽으로 나가서 좋은 공기 맞으며 몸보신 제대로 뿜뿜!했습니다~</span>
				</p>
			</div>
		</div>
	</div>
	<div class="chat-item chat-item-my">
		<div class="avatar" style="background-image:url('http://hellowoot.co.kr/static/asset/images/profile_images/4-2.png');background-color:#fc5c65;">
		</div>
		<div class="message">
			<div class="message-info">
				<span class="time">6:13 PM</span>
				<span class="username">두둥</span>
			</div>
			<div class="message-cloud">
				<p>
					<span>저희도 같이 가봐요! :)</span>
				</p>
			</div>
			<div class="message-cloud">
				<p>
					<span>재미있을거 같아요 ㅎㅎ 이번주 토요일 ㄱㄱ?</span>
				</p>
			</div>
		</div>
	</div>
</div>