{% include "../global/global.html" %}

<div class="notification-contents row">
	<div class="notification-wrapper col-lg-24 col-md-24 col-sm-24 col-xs-24">
		<div class="notification-item">
			<div class="image" style="background-image:url('http://hellowoot.co.kr/static/asset/images/profile_images/11-1.png');background-color:#26de81;"></div>
			<div class="description">
				<span>멍구님이 회원님의 글에 댓글을 달았습니다.</span>
				<span class="date">5월 18일 오후 5:32</span>
			</div>
		</div>
		<div class="notification-item">
			<div class="image" style="background-image:url('https://i.pinimg.com/564x/11/d3/db/11d3dbc8d9c796332f643fca8886ad55.jpg')"></div>
			<div class="description">
				<span>18일 목요일에 '맥주 한잔 고고' 게더링이 올라왔습니다.</span>
				<span class="date">5월 17일 오후 4:11</span>
			</div>
			<div class="button-wrapper">
				<div class="button">
					<span>좋아요</span>
				</div>
				<div class="button">
					<span>참여하기</span>
				</div>
			</div>
		</div>
		<div class="notification-item">
			<div class="image" style="background-image:url('http://hellowoot.co.kr/static/asset/images/profile_images/13-1.png');background-color:#fed330;"></div>
			<div class="description">
				<span>칙칙님이 회원님의 글을 좋아합니다.</span>
				<span class="date">5월 17일 오후 1:32</span>
			</div>
		</div>
		<div class="notification-item">
			<div class="image" style="background-image:url('http://hellowoot.co.kr/static/asset/images/profile_images/13-1.png');background-color:#fed330;"></div>
			<div class="description">
				<span>칙칙님이 회원님에게 우트를 줬습니다.</span>
				<span class="date">5월 15일 오전 1:10</span>
			</div>
			<div class="button-wrapper">
				<div class="button">
					<span>칙칙님께 우트주기</span>
				</div>
			</div>
		</div>
	</div>
</div>