{% include "../global/global.html" %}

<div class="signup-contents row">
	<div class="signup-item-wrapper col-lg-24 col-md-24 col-sm-24 col-xs-24">
		<div class="title">
			<span>잠시만요!</span><br>
			<span>주소지 인증이 필요합니다.</span>
		</div>
		<div class="description" style="margin-bottom:0px;">
			<span>파크하비오 블록에 있는 모든 사용자는 해당 블록 거주 사실을 인증한 사용자들입니다. 거주자 인증에 참여하시고 커뮤니티의 일원이 되어보세요.</span>
		</div>
	</div>
	<div class="signup-item-wrapper signup-confirm-model-house col-lg-24 col-md-24 col-sm-24 col-xs-24">
		<div class="title">
			<span>지금 파크하비오에서는..</span>
		</div>
		<div class="model-house-item-wrapper" id="model-house-item-wrapper">
			<div class="model-house-item">
				<div class="posting-header">
					<div class="avatar" style="background-image:url('http://hellowoot.co.kr/static/asset/images/profile_images/5-1.png');background-color:#2bcbba"></div>
					<div class="username">
						<span>비니</span>
					</div>
				</div>
				<div class="posting-content">
					<div class="description">
						<p>우트에서 맞이한 생일에 웃님들에게 너무많은 감동을 받았습니다 뒤늦게나마 모두에게 정말로 감사한 마음을 전달합니다 정말 가족보다 이웃이라는 생각이 들 정도로 따뜻한 마음에 찐한 감동이 넘쳤습니다.</p>
					</div>
				</div>
			</div>
			<div class="model-house-item">
				<div class="posting-header">
					<div class="avatar" style="background-image:url('http://hellowoot.co.kr/static/asset/images/profile_images/13-2.png');background-color:#fed330"></div>
					<div class="username">
						<span>칙칙</span>
					</div>
				</div>
				<div class="posting-content">
					<div class="description">
						<p>우트에서 한 한강 게더링!</p>
					</div>
					<div class="image" style="background-image:url('http://hellowoot.co.kr/media/user_images/8195BDA1-C06D-4323-9F8C-020919C39130.jpg')">
					</div>
				</div>
			</div>
			<div class="model-house-item">
				<div class="posting-header">
					<div class="avatar" style="background-image:url('http://hellowoot.co.kr/static/asset/images/profile_images/2-2.png');background-color:#d1d8e0"></div>
					<div class="username">
						<span>뱅뱅뱅</span>
					</div>
				</div>
				<div class="posting-content">
					<div class="description">
						<p>우트에서 맞이한 생일에 웃님들에게 너무많은 감동을 받았습니다 뒤늦게나마 모두에게 정말로 감사한 마음을 전달합니다 정말 가족보다 이웃이라는 생각이 들 정도로 따뜻한 마음에 찐한 감동이 넘쳤습니다.</p>
					</div>
				</div>
			</div>
			<div class="model-house-item">
				<div class="posting-header">
					<div class="avatar" style="background-image:url('http://hellowoot.co.kr/static/asset/images/profile_images/6-1.png');background-color:#45aaf2"></div>
					<div class="username">
						<span>릭릭</span>
					</div>
				</div>
				<div class="posting-content">
					<div class="description">
						<p>저번주 토요일 백숙게더링입니다~첨으로 서울 외곽으로 나가서 좋은 공기 맞으며 몸보신 제대로 했습니다.</p>
					</div>
				</div>
			</div>
			<div class="model-house-item">
				<div class="posting-header">
					<div class="avatar" style="background-image:url('http://hellowoot.co.kr/static/asset/images/profile_images/5-1.png');background-color:#2bcbba"></div>
					<div class="username">
						<span>비니</span>
					</div>
				</div>
				<div class="posting-content">
					<div class="description">
						<p>우트에서 맞이한 생일에 웃님들에게 너무많은 감동을 받았습니다 뒤늦게나마 모두에게 정말로 감사한 마음을 전달합니다 정말 가족보다 이웃이라는 생각이 들 정도로 따뜻한 마음에 찐한 감동이 넘쳤습니다.</p>
					</div>
				</div>
			</div>
			<div class="model-house-item">
				<div class="posting-header">
					<div class="avatar" style="background-image:url('http://hellowoot.co.kr/static/asset/images/profile_images/2-2.png');background-color:#d1d8e0"></div>
					<div class="username">
						<span>뱅뱅뱅</span>
					</div>
				</div>
				<div class="posting-content">
					<div class="description">
						<p>우트에서 맞이한 생일에 웃님들에게 너무많은 감동을 받았습니다 뒤늦게나마 모두에게 정말로 감사한 마음을 전달합니다 정말 가족보다 이웃이라는 생각이 들 정도로 따뜻한 마음에 찐한 감동이 넘쳤습니다.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="signup-confirm-form-wrapper">
	<div class="background"></div>
	<div class="contents">
		<div class="image post" style="background-image:url('http://fimg4.pann.com/new/download.jsp?FileID=43407898');">
		</div>
		<div class="description post">
			<p>위 이미지와 같이 주소가 찍힌 택배 송장 이미지 혹은 상품주문서를 업로드해주세요.</p>
		</div>
		<div class="image bill" style="background-image:url('http://cfile208.uf.daum.net/image/231EEE3C528FEC9833C5E8');">
		</div>
		<div class="description bill">
			<p>위 이미지와 같이 주소가 찍힌 고지서를 업로드해주세요.</p>
		</div>
		<div class="upload-button button">
			<span>이미지 업로드</span>
		</div>
	</div>
</div>

<div class="signup-footer signup-footer-confirm">
		<div class="signup-confirm-button button" data-confirm="post">
			<span>택배로 주소인증</span>
		</div>
		<div class="signup-confirm-button button" data-confirm="bill">
			<span>고지서로 주소인증</span>
		</div>
</div>