{% include "../global/global.html" %}

<div class="signup-contents row">
	<div class="signup-item-wrapper col-lg-24 col-md-24 col-sm-24 col-xs-24">
		<div class="title">
			<span>잠시만요!</span><br>
			<span>주소지 인증이 필요합니다.</span>
		</div>
		<div class="description">
			<span>파크하비오 블록에 있는 모든 사용자는 해당 블록 거주 사실을 인증한 사용자들입니다. 거주자 인증에 참여하시고 커뮤니티의 일원이 되어보세요.</span>
		</div>
	</div>
	<div class="signup-button-wrapper signup-confirm-button-wrapper col-lg-24 col-md-24 col-sm-24 col-xs-24">
		<div class="signup-confirm-button button">
			<i class="ion-ios-email"></i>
			<span>택배문자 인증</span>
		</div>
		<div class="signup-confirm-button button">
			<i class="ion-ios-copy"></i>
			<span>고지서 인증</span>
		</div>
		<div class="signup-confirm-button button">
			<i class="ion-ios-camera"></i>
			<span>대문사진 인증</span>
		</div>
	</div>
</div>