{% include "../global/global.html" %}

<div class="signup-contents row">
	<div class="signup-item-wrapper col-lg-24 col-md-24 col-sm-24 col-xs-24">
		<div class="title">
			<span>내가 가입 가능한 블록</span>
		</div>
		<div class="separator"></div>
		<div class="description">
			<span>블록은 내 거주지를 기준으로 1500명 정도의 사용자가 참여할 수 있는 커뮤니티 단위입니다.</span>
		</div>
		<div class="signup-item">
			<div class="signup-item-input">
				<input placeholder="주소지를 입력해주세요. (ex. 송파 법조타운)" id="signup-address-input"/>
				<input id="signup-address-input-hidden" type="hidden"/>
				<div class="signup-address-submit button" id="signup-address-submit">
					<span>검색</span>
				</div>
			</div>
		</div>
		<div class="signup-item">
			<div class="signup-address-result" id="signup-address-result"></div>
		</div>
		<!--
		<div class="signup-item">
			<div class="signup-item-input">
				<input placeholder="생년월일 (ex. 1990)" />
			</div>
		</div>
		<div class="signup-item">
			<div class="signup-item-input">
				<div class="signup-radio-container">
					<div class="signup-radio-button button selected" data-radio="남자">
						<span>남자</span>
					</div>
					<div class="signup-radio-button button" data-radio="여자">
						<span>여자</span>
					</div>
					<input type="hidden" value="남자"/>
				</div>
			</div>
		</div>
		<div class="signup-item">
			<div class="signup-item-input">
				<div class="signup-radio-container">
					<div class="signup-radio-button quadra button selected" data-radio="학생">
						<span>학생</span>
					</div>
					<div class="signup-radio-button quadra doubleline button" data-radio="자영업/직장인">
						<span>자영업<br>/직장인</span>
					</div>
					<div class="signup-radio-button quadra button" data-radio="주부">
						<span>주부</span>
					</div>
					<div class="signup-radio-button quadra doubleline button" data-radio="프리렌서/기타">
						<span>프리렌서<br>/기타</span>
					</div>
					<input type="hidden" value="학생"/>
				</div>
			</div>
		</div>
		<div class="signup-item">
			<div class="signup-item-input">
				<div class="signup-radio-container">
					<div class="signup-radio-button button selected" data-radio="미혼">
						<span>미혼</span>
					</div>
					<div class="signup-radio-button button" data-radio="기혼">
						<span>기혼</span>
					</div>
					<input type="hidden" value="미혼"/>
				</div>
			</div>
		</div>
		-->
	</div>
</div>

<div class="signup-footer">
	<woot-click class="signup-footer-item signup-footer-item-previous" href="/login">
		<i class="ion-android-arrow-back"></i>
		<span>이전</span>
	</woot-click>
	<div class="signup-footer-item signup-footer-item-count">
		<span>1/1</span>
	</div>
	<woot-click class="signup-footer-item signup-footer-item-forward" href="/login/signup/2">
		<span>다음</span>
		<i class="ion-android-arrow-forward"></i>
	</woot-click>
</div>