{% include "../global/global.html" %}

<div class="signup-contents row">
	<div class="signup-item-wrapper col-lg-24 col-md-24 col-sm-24 col-xs-24">
		<div class="title">
			<span>회원가입</span>
		</div>
		<div class="separator"></div>

		<div class="signup-item">
			<div class="signup-item-input">
				<input placeholder="이메일을 입력해주세요" id="signup-item-input-email"/>
			</div>
			<div class="message message-email">
				<span>이미 가입되어 있는 이메일입니다.</span>
			</div>
		</div>
		<div class="signup-item">
			<div class="signup-item-input">
				<input placeholder="비밀번호를 입력해주세요" type="password" id="signup-item-input-password"/>
			</div>
		</div>
		<div class="signup-item">
			<div class="signup-item-input">
				<input placeholder="비밀번호를 다시한번 입력해주세요" type="password" id="signup-item-input-password-confirm"/>
			</div>
			<div class="message message-password">
				<span>비밀번호가 일치하지 않습니다.</span>
			</div>
		</div>
		<div class="signup-item-divider"></div>
		<div class="signup-item">
			<div class="signup-item-input">
				<div class="signup-radio-container">
					<div class="signup-radio-button quadra button">
						<span>학생</span>
					</div>
					<div class="signup-radio-button quadra doubleline button selected">
						<span>자영업<br>/직장인</span>
					</div>
					<div class="signup-radio-button quadra button">
						<span>주부</span>
					</div>
					<div class="signup-radio-button quadra doubleline button">
						<span>프리렌서<br>/기타</span>
					</div>
					<input type="hidden" />
				</div>
			</div>
		</div>
		<div class="signup-item">
			<div class="signup-item-input">
				<div class="signup-radio-container">
					<div class="signup-radio-button button">
						<span>미혼</span>
					</div>
					<div class="signup-radio-button button selected">
						<span>기혼</span>
					</div>
					<input type="hidden" />
				</div>
			</div>
		</div>
	</div>
</div>

<div class="signup-footer">
	<div class="signup-footer-item signup-footer-item-count">
		<span>1/3</span>
	</div>
	<woot-click class="signup-footer-item signup-footer-item-forward" href="/login/signup/4">
		<span>다음</span>
		<i class="ion-android-arrow-forward"></i>
	</woot-click>
</div>