{% include "../global/global.html" %}

<div class="signup-contents row">
	<div class="signup-item-wrapper col-lg-24 col-md-24 col-sm-24 col-xs-24">
		<div class="title">
			<span>본인인증</span>
		</div>
		<div class="separator"></div>

		<div class="signup-item-divider"></div>
		<div class="signup-item">
			<div class="signup-item-input">
				<input placeholder="핸드폰 번호를 입력해주세요" id="signup-item-input-phone"/>
			</div>
		</div>
		<div class="signup-item">
			<div class="signup-item-input-button">
				<span>인증번호 보내기</span>
			</div>
			<div class="signup-item-input signup-item-input-phone-auth-wrapper">
				<input placeholder="인증번호를 입력해주세요" id="signup-item-input-phone-auth"/>
			</div>
		</div>
	</div>

	<div class="signup-agree-wrapper col-lg-24 col-md-24 col-sm-24 col-xs-24">
		<div class="signup-agree-item">
			<div class="signup-agree-checkbox button">
				<i class="ion-ios-checkmark"></i>
			</div>
			<div class="title button">이용약관 동의 (필수)</div>
			<div class="read-button button">보기</div>
		</div>
		<div class="signup-agree-item">
			<div class="signup-agree-checkbox button">
				<i class="ion-ios-circle-outline"></i>
			</div>
			<div class="title button">개인정보 수집 및 이용동의 (필수)</div>
			<div class="read-button button">보기</div>
		</div>
	</div>

</div>

<div class="signup-footer">
	<woot-click class="signup-footer-item signup-footer-item-previous" href="/login/signup/1">
		<i class="ion-android-arrow-back"></i>
		<span>이전</span>
	</woot-click>
	<div class="signup-footer-item signup-footer-item-count">
		<span>2/4</span>
	</div>
	<woot-click class="signup-footer-item signup-footer-item-forward" href="/login/signup/3">
		<span>다음</span>
		<i class="ion-android-arrow-forward"></i>
	</woot-click>
</div>