{% include "../global/global.html" %}

<div class="people-contents row">
	<div class="people-section col-lg-24 col-md-24 col-sm-24 col-xs-24">
		<div class="title">
			<span>내 프로필</span>
		</div>
		<woot-click href="/people/profile?uid=1">
		<div class="people-item button col-lg-24 col-md-24 col-sm-24 col-xs-24">
			<div class="avatar" style="background-image:url('http://hellowoot.co.kr/static/asset/images/profile_images/13-4.png');background-color:#fbc531"></div>
			<div class="description">
				<div class="username">
					<span>멍구</span>
				</div>
				<div class="intro">
					<span>안녕하세요! 멍구입니다</span>
				</div>
				<div class="interest">
					<span>축구</span>
					<span>농구</span>
					<span>낮술</span>
					<span>와인</span>
					<span>자전거</span>
				</div>
			</div>
		</div>
		</woot-click>
	</div>
	<div class="people-section col-lg-24 col-md-24 col-sm-24 col-xs-24">
		<div class="title">
			<span>추천 이웃</span>
		</div>
		<woot-click href="/people/profile?uid=1">
		<div class="people-item button col-lg-24 col-md-24 col-sm-24 col-xs-24">
			<div class="avatar"></div>
			<div class="description">
				<div class="username">
					<span>칙칙</span>
				</div>
				<div class="intro">
					<span>안녕하세요! 이건 인트로가 길었을때 쩜쩜쩜...</span>
				</div>
				<div class="interest">
					<span>축구</span>
					<span>농구</span>
					<span>낮술</span>
					<span>와인</span>
					<span>자전거</span>
				</div>
			</div>
		</div>
		</woot-click>
		<woot-click href="/people/profile?uid=1">
		<div class="people-item button col-lg-24 col-md-24 col-sm-24 col-xs-24">
			<div class="avatar"></div>
			<div class="description">
				<div class="username">
					<span>냥냥ㅎ</span>
				</div>
				<div class="intro">
					<span>안녕하세요! 멍구입니다</span>
				</div>
				<div class="interest">
					<span>축구</span>
					<span>농구</span>
					<span>낮술</span>
					<span>와인</span>
					<span>자전거</span>
				</div>
			</div>
		</div>
		</woot-click>
	</div>
	<div class="people-section col-lg-24 col-md-24 col-sm-24 col-xs-24">
		<div class="title">
			<span>새로운 이웃</span>
		</div>
		<woot-click href="/people/profile?uid=1">
		<div class="people-item button col-lg-24 col-md-24 col-sm-24 col-xs-24">
			<div class="avatar"></div>
			<div class="description">
				<div class="username">
					<span>칙칙</span>
				</div>
				<div class="intro">
					<span>안녕하세요! 이건 인트로가 길었을때 쩜쩜쩜...</span>
				</div>
				<div class="interest">
					<span>축구</span>
					<span>농구</span>
					<span>낮술</span>
					<span>와인</span>
					<span>자전거</span>
				</div>
			</div>
		</div>
		</woot-click>
		<woot-click href="/people/profile?uid=1">
		<div class="people-item button col-lg-24 col-md-24 col-sm-24 col-xs-24">
			<div class="avatar"></div>
			<div class="description">
				<div class="username">
					<span>냥냥ㅎ</span>
				</div>
				<div class="intro">
					<span>안녕하세요! 멍구입니다</span>
				</div>
				<div class="interest">
					<span>축구</span>
					<span>농구</span>
					<span>낮술</span>
					<span>와인</span>
					<span>자전거</span>
				</div>
			</div>
		</div>
		</woot-click>
	</div>
	<div class="people-section col-lg-24 col-md-24 col-sm-24 col-xs-24">
		<div class="title">
			<span>파크하비오 이웃들 (87)</span>
		</div>
		<woot-click href="/people/profile?uid=1">
		<div class="people-item button col-lg-24 col-md-24 col-sm-24 col-xs-24">
			<div class="avatar"></div>
			<div class="description">
				<div class="username">
					<span>쩡이</span>
				</div>
				<div class="intro">
					<span>안녕하세요! 멍구입니다</span>
				</div>
				<div class="interest">
					<span>축구</span>
					<span>농구</span>
					<span>낮술</span>
					<span>와인</span>
					<span>자전거</span>
				</div>
			</div>
		</div>
		</woot-click>
		<woot-click href="/people/profile?uid=1">
		<div class="people-item button col-lg-24 col-md-24 col-sm-24 col-xs-24">
			<div class="avatar"></div>
			<div class="description">
				<div class="username">
					<span>오벨리스크</span>
				</div>
				<div class="intro">
					<span>안녕하세요! 멍구입니다</span>
				</div>
				<div class="interest">
					<span>축구</span>
					<span>농구</span>
					<span>낮술</span>
					<span>와인</span>
					<span>자전거</span>
				</div>
			</div>
		</div>
		</woot-click>
		<woot-click href="/people/profile?uid=1">
		<div class="people-item button col-lg-24 col-md-24 col-sm-24 col-xs-24">
			<div class="avatar"></div>
			<div class="description">
				<div class="username">
					<span>비다</span>
				</div>
				<div class="intro">
					<span>안녕하세요! 멍구입니다</span>
				</div>
				<div class="interest">
					<span>축구</span>
					<span>농구</span>
					<span>낮술</span>
					<span>와인</span>
					<span>자전거</span>
				</div>
			</div>
		</div>
		</woot-click>
		<woot-click href="/people/profile?uid=1">
		<div class="people-item button col-lg-24 col-md-24 col-sm-24 col-xs-24">
			<div class="avatar"></div>
			<div class="description">
				<div class="username">
					<span>집집돌이</span>
				</div>
				<div class="intro">
					<span>안녕하세요! 멍구입니다</span>
				</div>
				<div class="interest">
					<span>축구</span>
					<span>농구</span>
					<span>낮술</span>
					<span>와인</span>
					<span>자전거</span>
				</div>
			</div>
		</div>
		</woot-click>
	</div>
</div>