{% include "../global/global.html" %}

<div class="profile-contents profile-edit-contents row">
	<div class="profile-section profile-section-edit profile-section-edit-password col-lg-24 col-md-24 col-sm-24 col-xs-24">
		<div class="title">
			<span>기존 비밀번호</span>
		</div>
		<input id="profile-edit-password-input-current" placeholder="기존 비밀번호를 입력해주세요" type="password">
		<div class="title">
			<span>새로운 비밀번호</span>
		</div>
		<input id="profile-edit-password-input-new" placeholder="8자 이상의 새로운 비밀번호를 입력해주세요" type="password">
		<div class="title">
			<span>새로운 비밀번호 확인</span>
		</div>
		<input id="profile-edit-password-input-new-confirm" placeholder="새로운 비밀번호를 다시한번 입력해주세요" type="password">
	</div>
</div>