<div class="people-contents">
	<div class="people-section">
		<a href="./people.profile.html?uid=1">
		<div class="people-item button">
			<div class="avatar"></div>
			<div class="description">
				<div class="username">
					<span>멍구</span>
				</div>
			</div>
		</div>
		</a>
		<a href="./people.profile.html?uid=1">
		<div class="people-item button">
			<div class="avatar"></div>
			<div class="description">
				<div class="username">
					<span>칙칙</span>
				</div>
			</div>
		</div>
		</a>
		<a href="./people.profile.html?uid=1">
		<div class="people-item button">
			<div class="avatar"></div>
			<div class="description">
				<div class="username">
					<span>냥냥ㅎ</span>
				</div>
			</div>
		</div>
		</a>
	</div>
</div>