<div class="people-contents">
	<div class="people-section">
		<woot-click href="/people/profile?uid=1">
		<div class="people-item button">
			<div class="avatar"></div>
			<div class="description">
				<div class="username">
					<span>멍구</span>
				</div>
			</div>
		</div>
		</woot-click>
		<woot-click href="/people/profile?uid=1">
		<div class="people-item button">
			<div class="avatar"></div>
			<div class="description">
				<div class="username">
					<span>칙칙</span>
				</div>
			</div>
		</div>
		</woot-click>
		<woot-click href="/people/profile?uid=1">
		<div class="people-item button">
			<div class="avatar"></div>
			<div class="description">
				<div class="username">
					<span>냥냥ㅎ</span>
				</div>
			</div>
		</div>
		</woot-click>
	</div>
</div>